body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.1px);
    max-width: calc(100vw-0.1px);
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

.main{
    padding: 2rem;
    background-color: #2E0C50;
    border-radius: 0.25rem;
    box-shadow: 6px 8px #492171;
    max-width: 20rem;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#pw{
    background-color: #3d1466;
    width: calc(100% - 2rem);
    padding: 1.5rem 1rem;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: white;
    box-shadow: 4px 4px #5b2d88;
    border: none;
}

.form{
    margin-bottom: 2rem;
}

label{
    color: white;
    letter-spacing: 1px;
    word-spacing: 2px;
}

input{
    width: fit-content;
    float: right;
    display: flex;
    align-items: right;
    justify-content: end;
}

#generate{
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border-style: ridge;
    border-width: 4px;
    border-color: #a076c9;
    background-color: rgb(255, 239, 170);
    cursor: pointer;
    font-weight: 700;
    font-style: italic;
    color: #5b2d88;
}